html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

nav{
    width: 100%;
    background-color: #000;
    text-align: right;
    margin-right: 20px;
}

nav ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

nav img{
    width: 200px;
    float: left;
    position: absolute;
    left: 0px;

}  

nav li{
    display: inline-block;
    width:130px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

nav a{
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
    text-transform: capitalize;
    vertical-align: middle;
    color:#e7c6b3; 
}



#home {
        width: 100%;
        height: 65vh;
        position: relative;
        background: url("../images/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        text-align: center;
}
    
h1{
        color:white;
        
        font-size:25px;
        display:inherit;
        letter-spacing: 2px;
       /* padding: 15px 40px;*/
       align-content: center
}
    
h4 {
        font-size: 18px;
        color: white;
        display: inline;
        letter-spacing: 5px;
        padding: 15px 40px;
}    

.button {
    background-color: #f74c3c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 80px 2px;
    cursor: pointer;
}

#home img{
    width: 70px;
    float: middle;
    margin: 10px;
}

#who {
    width: 100%;
        height: 65vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

#who img{
    width: 200px;
    float: middle;
    margin: 40px;
}

#who p{
    text-align: center;
    font-size: 30px;
}

#get-involved{
    width: 100%;
        height: 35vh;
    position: relative;
    text-align: center;
    width:900px;
    height:200px;
    display:block;
}

ul{
    display: inline-block;
    width: 100%;
    padding:0px
}

ul li{
    display: inline-block;
    width: 30% ;
    margin-left: 1%;
    margin-right: 1%;
}

footer{
    background-color: #F74C3C;
    width: 100%;
    height: 100px;
    bottom:0px;
}

footer img{
    margin-left: 200px;
    bottom: 0px;
}
 