html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

nav{
    width: 100%;
    background-color: #000;
    text-align: right;
}

nav ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

#logo{
    width: 200px;
    float: left;
    position: absolute;
    left: 0px;
    
}  

nav li{
    display: inline-block;
    width:130px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

nav a{
    display:inline-block;
    font-family: glyphicons-halfing-regular ;
    font-size: 15px;
    text-transform: capitalize;
    vertical-align: middle;
    color:#e7c6b3; 
}

.jumbotron{
        width: 100%;
        height: 500px;
        position: relative;
        background-image: url('images/hero-image.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
}
    
.jumbotron h1,
.jumbotron h2,
.jumbotron h4 {
        color: #ffffff;
        text-transform: uppercase;
    }
    
.jumbotron h4 {
        font-size: 10px;
        background: #ffffff;
        display: inline;
        letter-spacing: 5px;
        padding: 15px 40px;
}
    
.jumbotron a {
        margin-top: 60px;
}
    
.jumbotron .btn-success,
.jumbotron .btn-success:not(:disabled):not(.disabled):active {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        border-radius: 100px;
        padding: 8px 35px;
        background-color: #b4dc2d;
        border-color: #b4dc2d;
        border: 2px solid #b4dc2d;
}
    
.jumbotron .btn-success:hover {
        color: #fff;
        background-color: transparent;
        border: 2px solid #b4dc2d;
}
    
.jumbotron h2 {
        font-size: 22px;
        margin-top: 0;
        font-weight: 500;
        padding-bottom: 30px;
}
    
.jumbotron h1 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
}

.content {
        position: relative;
        text-align: center;
}
    
.gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000', GradientType=1);
}
    
.thumbnail {
        background-color: whitesmoke;
        height: 320px;
        border: none;
        border-radius: 0px;
        text-align: center;
}