/*********************************************************
******************Partie generale*************************
*********************************************************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1{
   font-family: Arvo;
   font-size: 36px;
   color:white;
}

h4{
   font-family: Arvo;
   font-size: 30px;
   padding:10px 0px;
   color: #f74c3c;

}

hr{
    border: 1px solid #e74c3c;
    width: 10%;
    margin-top: 0px;
}

/********************************************************
**********************NAV-BAR****************************
********************************************************/

nav{
    width: 100%;
    background-color: #000;
    text-align: right;
    margin-right: 20px;
}

nav ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

nav img{
    width: 200px;
    float: left;
    position: absolute;
    left: 40px;
    top: 10px;

}  

nav li{
    display: inline-block;
    width:130px;
    height: 50px;
    text-align: middle;
    vertical-align: middle;
    right: 
}

nav a{
    display:inline-block;
    font-family: Arvo ;
    font-size: 15px;
    text-transform: capitalize;
    vertical-align: middle;
    color:#e7c6b3; 
}

/********************************************************
*******************partie home***************************
********************************************************/

#home  {
        width: 100%;
        height: 60vh;
        position: relative;
        background: url("../images/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        text-align: center;
}
    
#home p{
       font-size: 15px;
       color: rgba(255,255,255,.7);
       font-weight: 100;   
       padding: 10px 0; 
}  

#home h1{
    margin: 0;
    padding: 40px 0;
}

#home div{
       margin: auto; 
       width: 60%;
       text-align: center;
}

#home button {
    background-color: #e74c3c;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 10px 12px;
    margin: 5px 0;
}

#home img{
    padding: 20px 0;
}

/********************************************************
*******************partie who****************************
********************************************************/

#who{
    width: 100%;
    text-align: center;
}

#who div{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

#who h2{
    font-weight: 100; 
    margin-top: 5px;
    color: #e74c3c;
}

#who p{
    font-size: 21px;
}

/********************************************************
***************partie get-involved***********************
********************************************************/

#get-involved{
    background-color: #f5f5f5;
    text-align: center;
}

#get-involved h2{
    padding-top: 40px;
}

#get-involved-flex{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.get-involved-bloc{
    width: 35%;
    padding: 40px; 
}

.get-involved-bloc i{
    background-color: #333;
    height: 110px;
    width: 110px;
    font-size: 60px;
    line-height: 110px; 
    border-radius: 50%; 
}

.get-involved-bloc button{
    background-color: white;
    color: #e74c3c;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
}

/********************************************************
*******************partie footer*************************
********************************************************/

footer{
    background-color: #F74C3C;
    width: 100%;
    height: 100px;
    bottom:0px;
}

footer img{
    position: relative;
    top: 40%;
    left: 15%;
}
/********************************************************
*****************bouton retour***************************
********************************************************/

#back-to-top{
    position: fixed;
    bottom: 50%; 
    right: 0; 
}

#back-to-top a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

 